@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';

}
h1{
    font-size: 5vmin;
    margin-top: 3vmin;
}

.rowCont {
    display: flex;
    flex-direction: row;

}
.square{
    width: 15vmin;
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vmin;

    
}

.row1{
    border-bottom: 3px solid black;
}

.row3{
    border-top: 3px solid black
}
.col1{
    border-right: 3px solid black
}
.col3{
    border-left: 3px solid black
}

.clear{
    margin: 30px
}
.results{
    background-color: green;
    color: white;
    position: relative;
    width: 60vmin;
    height: 15vmin;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 2vmin;
}
h3, h4, h5 {
    margin: 1vmin;
}
h3{
    font-size: 3vmin;
}
h4{
    font-size: 3vmin;
}
h5{
    font-size: 1.5vmin;
}
h2{
    font-size: 3vmin;
    margin-bottom: 5vmin;
}

#gameAndTrackers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
}

#xTracker{
    background-color: red;
}
#oTracker{
    background-color: blue;
}
.tracker{
    width: 5vmin;
    height: 5vmin;
    border-radius: 1vmin;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}