body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    margin: 30px
}

.rowCont {
    display: flex;
    flex-direction: row;

}
.square{
    width: 20vmin;
    height: 20vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vmin;

    
}

.row1{
    border-bottom: 3px solid black;
}

.row3{
    border-top: 3px solid black
}
.col1{
    border-right: 3px solid black
}
.col3{
    border-left: 3px solid black
}

.clear{
    margin: 30px
}
.results{
    background-color: green;
    color: white;
    position: absolute;
    width: 60vw;
    height: 20vh;
    bottom: 3vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
h3, h4, h5 {
    margin: 2vmin;
}
h3{
    font-size: 4vmin;
}
h4{
    font-size: 4vmin;
}
h5{
    font-size: 2vmin;
}